* {
    margin: 0;
    padding: 0;
}

.barra_pesquisa {
    margin: 10px;
    padding: 20px;
    border: 2px solid #344E41;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

h1 {
    background-color: #A3B18A;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

#pesquisar {
    width: fit-content;
}

.dados-empresas {
    text-align: justify;
    margin: 5px;
}

.empresas {
    border: 2px solid #A3B18A;
    box-shadow: 1px 1px 1px #344E41;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.titulo-empresa {
    margin-top: 8px;
    margin-bottom: 8px;
}

.logo {
    width: 15%;
}