* {
    margin: 0;
    padding: 0;
    font-family: "Mate", serif;
    color: #000;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#logo {
    background: linear-gradient(90deg, #A3B18A 5%, #588157 25%, #344E41 50%);
    background-clip: text;
    color: transparent;
}

a {
    text-decoration: none;
    font-size: 16px;
}

.secao-exclusivos {
    display: flex;
    justify-content: space-evenly;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #344E41;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #344E41;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: scroll;
}

button[type="button"] {
    padding: 12px;
    margin: 15px 0;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    background-color: #DAD7CD;
    color: #000;
    transition: 0.5s;
    border: none;
}

button[type="button"]:hover {
    background-color: #A3B18A;
}

.btn {
    background-color: #588157;
    border: none;
    border-radius: 10px;

    color: #f9f9f9;
    cursor: pointer;

    padding: 10px 30px;
    transition: .5s;
}

#inforLivros {
    background-color: #f9f9f9;
    padding: 30px;
}

.livro {
    display: grid;
    justify-content: center;
    grid-template-columns: 400px auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "div img";
}

.conteudo {
    grid-area: div;
    padding: 20px;
}

.conteudo * {
    margin-top: 15px;
    margin-bottom: 15px;
}

.titulo {
    font-size: 32px;
}

.img-livro {
    width: 450px;
    height: 550px;
    border-radius: 10px;
    grid-area: img;
}

/* RODAPÉ */
footer {
    background-color: #f8f8f8;
    color: #000;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 30px;
}

footer img {
    width: 15%;
    padding: 8px;
}

h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer a {
    display: block;
    padding: 8px;
    width: fit-content;
}

footer a:hover {
    text-decoration: underline;
}

#rodape {
    width: 70%;
}